@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
.background {
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
  padding-top: 2%;
  padding-left: 2%;
  box-sizing: border-box;
}
.background-child {
  background-color: white;
  width: 97%;
  height: 94%;
  box-sizing: border-box;
  display: flex;
}
.left {
  width: 50%;
  display: inline-block;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.right {
  padding-top: 15%;
  display: inline-block;
  width: 49%;
  height: 100%;
}
.top {
  font-family: "Poppins";
  font-size: 25px;
  margin-bottom: 5%;
  color: #555555;
  text-transform: uppercase;
  text-align: center;
}
.input {
  width: 87%;
  padding-left: 13%;
  margin-bottom: 4%;
}
.button {
  margin-left: 13%;
  width: 74%;
  height: 50px;
  border-radius: 3px;
  background: #00ad5f;
  font-family: "Poppins";
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}
